<% layout('layouts/boilerplate') %>
<h1 class='container-fluid mb-5' id="mainHeader">Помощники</h1>
<div class="container col-6 mb-4 d-flex justify-content-center">
	<form class="input-group my-2 my-lg-0" id="searchForm" method="POST" action='#'>
		<input class="form-control col-2 mr-sm-2" type="search" placeholder="Введите свой город" aria-label="Search" name="location">
        <select class="form-select" aria-label="Default select example" name="category">
            <option selected value="">Выберите категорию</option>
            <option value="Зооняня">Зооняня</option>
            <option value="Садик для животных">Садик для животных</option>
            <option value="Грумер">Грумер</option>
            <option value="Кинолог">Кинолог</option>
            <option value="Передержка">Передержка</option>
        </select>
        <button class="btn col-2 btn-outline-success my-2 my-sm-0" type="submit">Поиск</button>

	</form>
</div>

<ul class='ps-0' id='list-of-petplaces'>
    
</ul>
<div class="d-flex justify-content-center mb-3" id='pagination-wrapper'>
	
</div>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/javascripts/script.js"></script>

