<% layout('layouts/boilerplate') %>
<div class="row">
	<h1 class="text-center">Стать зооняней</h1>
	<div class="col-6 offset-3">
		<form action="/petplaces" method="POST" novalidate class="validatedform" enctype="multipart/form-data">
			<div class="mb-3">
				<label class="form-label" for="title">Имя</label>
				<input class="form-control" type="text" name="petplace[title]" id="title" required />
				<div class="valid-feedback">Looks good!</div>
			</div>
			<div class="mb-3">
				<label class="form-label" for="location">Местонахождение</label>
				<input class="form-control" type="text" name="petplace[location]" id="location" required />
				<div class="valid-feedback">Looks good!</div>
			</div>
			<input type="file" name="image" id="image" multiple>
			<!-- <div class="mb-3">
				<label class="form-label" for="image">Image Url</label>
				<input class="form-control" type="text" name="petplace[image]" id="image" required />
				<div class="valid-feedback">Looks good!</div>
			</div> -->
			<div class="mb-3">
				<label class="form-label" for="price">Цена</label>
				<div class="input-group">
					<span class="input-group-text" id="price-label">₽</span>
					<input
						type="text"
						class="form-control"
						placeholder="0.00"
						aria-label="price"
						aria-describedby="price-label"
						id="price"
						name="petplace[price]"
						required
					/>
					<div class="valid-feedback">Looks good!</div>
				</div>
			</div>
            <div class="mb-3">
				<label class="form-label" for="phone">Телефон</label>
				<div class="input-group">
					<input
						type="text"
						class="form-control"
						placeholder="+7-XXX-XXX-XX-XX"
						aria-label="phone"
						aria-describedby="phone-label"
						id="phone"
						name="petplace[phone]"
						required
					/>
					<div class="valid-feedback">Looks good!</div>
				</div>
			<div class="mb-3">
				<label class="form-label" for="category">Категория</label>
				<div class="input-group">
					<input
						type="text"
						class="form-control"
						placeholder=""
						aria-label="category"
						aria-describedby="category-label"
						id="category"
						name="petplace[category]"
						required
					/>
					<div class="valid-feedback">Looks good!</div>
				</div>
			</div>
			<div class="mb-3">
				<label class="form-label" for="description">Описание</label>
				<textarea class="form-control" type="text" name="petplace[description]" id="description" required></textarea>
				<div class="valid-feedback">Looks good!</div>
			</div>
			<div class="mb-3">
				<button class="btn btn-success">Стать зооняней</button>
			</div>
		</form>
		<a href="/petplaces">Все зооняни</a>
	</div>
</div>
